ZeldaApi/src/main/resources/weapons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://weapons.zelda.com/ws"
    targetNamespace="http://weapons.zelda.com/ws"
    elementFormDefault="qualified">

    <xs:element name="getWeaponRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getWeaponResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="weapon" type="tns:weapon" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createWeaponRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="weapon" type="tns:weaponInput" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createWeaponResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="weapon" type="tns:weapon" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteWeaponRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteWeaponResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean" />
                <xs:element name="message" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="weapon">
        <xs:sequence>
            <xs:element name="id" type="xs:long" />
            <xs:element name="name" type="xs:string" />
            <xs:element name="type" type="tns:weaponType" />
            <xs:element name="damage" type="xs:int" />
            <xs:element name="durability" type="xs:int" />
            <xs:element name="element" type="tns:element" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="weaponInput">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="type" type="tns:weaponType" />
            <xs:element name="damage" type="xs:int" />
            <xs:element name="durability" type="xs:int" />
            <xs:element name="element" type="tns:element" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="weaponType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Bat" />
            <xs:enumeration value="Boomerang" />
            <xs:enumeration value="Club" />
            <xs:enumeration value="Hammer" />
            <xs:enumeration value="Rod" />
            <xs:enumeration value="Spear" />
            <xs:enumeration value="OneHandedSword" />
            <xs:enumeration value="TwoHandedSword" />
            <xs:enumeration value="Other" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="element">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Fire" />
            <xs:enumeration value="Ice" />
            <xs:enumeration value="Electric" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>